<h3>Describe the Incident</h3>
<form [formGroup]="complaintSection">
    <div class="form-group">
        <label>Date:
            <input [matDatepicker]="myDatepicker" class="form-control" formControlName="date">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </label>
    </div>
    <div class="form-group">
        <label>Location:
            <input class="form-control" formControlName="location">
        </label>
    </div>
    <div class="form-group">
        <label>Description:
            <textarea class="form-control" formControlName="description"></textarea>
        </label>
    </div>
</form>
