<app-complaint [complaintSection]="complaintSection"></app-complaint>
<app-officer [officerSection]="officerSection"></app-officer>
<app-plaintiff [plaintiffSection]="plaintiffSection"></app-plaintiff>

<form [formGroup]="submitSection">
    <div class="form-group">
        <label>Would you like to submit this report to our database?
            <input class="form-control" formControlName="shareComplaint">
        </label>
    </div>
</form>

<button (click)="submitForm()" mat-raised-button>Submit Complaint</button>
