<h3>Your Contact Information</h3>
<form [formGroup]="plaintiffSection">
    <div class="form-group">
        <label>Name:
            <input class="form-control" formControlName="name">
        </label>
    </div>
    <div class="form-group">
        <label>Email:
            <input class="form-control" formControlName="email">
        </label>
    </div>
    <div class="form-group">
        <label>Phone Number:
            <input class="form-control" formControlName="phoneNumber">
        </label>
    </div>
</form>
